@mixin flexible($axis-x, $axis-y, $direction, $wrap) {
    display:flex;
    justify-content: $axis-x;
    align-items: $axis-y;
    flex-direction: $direction;
    flex-wrap:$wrap;
}

@mixin fonts($font-size, $font-weight) {
    font-family: 'Lato' sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}