/* color 
 =================================================== */
$gradient:linear-gradient(352deg, rgba(254,84,122,1) 0%, rgba(253,128,109,1) 100%);
$accent-color:#FD7858;
$bg-grey:#BFBFBF;
$subtitle-color:#BFBFBF;
$title-color:#777777;