/* color 
 =================================================== */
$gradient:linear-gradient(to top, rgba(254,84,122,1), rgba(253,128,109,1));
$accent-color:#FD7858;
$bg-grey:#BFBFBF;
$bg-white:#FFFFFF;
$subtitle-color:#BFBFBF;
$title-color:#777777;

/* font sizes 
 =================================================== */
 $tiny-text:8px;
 $small-text:10px;
 $medium-text:12px;
 $large-text:14px;
 $xlarge-text:40px;