.navigation {
    position: fixed;
    top:0;
    display: flex;
    flex-direction:column;
    width:70px;
    height:100vh;
    background: $gradient;


&__link {
    @include flexible(center, center, column, nowrap);
    width: 70px;
    min-height: 70px;
    padding-bottom: 10px;
    color:#FFFFFF;
    font-size:$small-text;
    text-decoration: none;
}

&__link-text {
    margin-top:40px;
}

&__link:first-child {
    align-items: center;
    font-family: 'Lato' sans-serif;
    font-size: $xlarge-text;
    background-color: $bg-white;
    color: $accent-color;
    box-shadow: 5px -1px 5px $subtitle-color;
}

&__link:last-child {
    margin-top: auto;
    background: url(../img/nav/power_icon.png) no-repeat center;
}

&__link--home {
    background: url(../img/nav/home_icon.png) no-repeat center 20px;
}

&__link--statistic {
    background: url(../img/nav/statics_icon.png) no-repeat center 20px;
}

&__link--user {
    background: url(../img/nav/users_icon.png) no-repeat center 20px;
}

&__link--settings {
    background: url(../img/nav/settings_icon.png) no-repeat center 20px;
}

&__link--quiry {
    background: url(../img/nav/info_icon.png) no-repeat center 20px;
}

}
